@{
    ViewBag.Title = Resources.EnableVehicle;
}


@{ 
    //welber - 24/10/2019 - Data da Campanha certificado 4 anos
    var myDate = ViewBag.MaxDateCampaign;

}


<div id="partialView">
    <div class="page-title clearfix">
        <div class="col-sm-12">
            <h1>@Resources.ApplicationName &ndash; @Resources.SearchVehicle</h1>
        </div>
    </div>

    <div class="body-content">
        <form id="form-create-vehicle">
            <div class="col-sm-12">
                <div class="panel-heading"><i class="fa fa-car"></i> @Resources.EnableVehicle</div>
                <div class="panel panel-default">
                    <div class="panel-body filters-panel">

                        <div class="row">
                            <div class="col-sm-12">
                                @Resources.SearchVehicleHeaderDescription
                            </div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                <label for="outlet" class="col-sm-5 text-nowrap required">@Resources.Outlet</label>
                                <div class="col-sm-7">
                                    @Helpers.BootstrapDropdown("outlet", false, true)
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                <label for="certificateType" class="col-sm-5 text-nowrap required">@Resources.CertificateType</label>
                                <input type="hidden" id="MaxDate" name="MaxDate" value="@ViewBag.MaxDateCampaign" />
                                <div class="col-sm-7">
                                    @Helpers.BootstrapDropdown("certificateType", false, true, true)
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                <label for="komission" class="col-sm-5 text-nowrap required">@Resources.Komission</label>
                                <div class="col-sm-7">
                                    <input type="text" id="komission" name="komission" class="width_100p" required>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                <label for="vin" class="col-sm-5 text-nowrap required">@Resources.VIN</label>
                                <div class="col-sm-7">
                                    <input type="text" id="vin" name="vin" class="width_100p" maxlength="17" required>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                <label for="engine" class="col-sm-5 text-nowrap required">@Resources.EngineNo</label>
                                <div class="col-sm-7">
                                    <input type="text" id="engine" name="engine" class="width_100p" maxlength="14" required>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                <label for="baumuster" class="col-sm-5 text-nowrap required">@Resources.Baumuster</label>
                                <div class="col-sm-7">
                                    <input type="text" id="baumuster" name="baumuster" class="width_100p" required>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                <label for="license" class="col-sm-5 text-nowrap required">@Resources.LicenseNo</label>
                                <div class="col-sm-7">
                                    <input type="text" id="license" name="license" class="width_100p" required>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                <label for="brand" class="col-sm-5 text-nowrap required">@Resources.Brand</label>
                                <div class="col-sm-7">
                                    @Helpers.BootstrapDropdown("brand", false, true)
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                <label for="licenseIssueDate" class="col-sm-5 text-nowrap required">@Resources.LicenseIssueDate</label>
                                <div class="col-sm-7">
                                    <div class="datepicker-wrapper">
                                        <input type="text" id="licenseIssueDate" name="licenseIssueDate" class="datepicker width_100p" required>
                                        <span><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4">
                                <label for="model" class="col-sm-5 text-nowrap required">@Resources.Model</label>
                                <div class="col-sm-7">
                                    @Helpers.BootstrapDropdown("model", true, true)
                                </div>
                            </div>

                            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-4" style="display: none">
                                <label for="mileage" class="col-sm-5 text-nowrap required">@Resources.MileageStarSelection</label>
                                <div class="col-sm-7">
                                    <input type="text" id="mileage" name="mileage" class="width_100p" required>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 btn-action-group">
                <div class="pull-right hidden-xs hidden-sm">
                    <button type="button" class="btn btn-default btn-clear">@Resources.Clear</button>
                    <button type="button" class="btn btn-primary btn-create">@Resources.EnableVehicle</button>
                </div>
                <div class="hidden-md hidden-lg">
                    <button type="button" class="btn btn-default float-left btn-clear">@Resources.Clear</button>
                    <button type="button" class="btn btn-primary float-right btn-create">@Resources.EnableVehicle</button>
                </div>
            </div>
        </form>

        <div class="col-sm-12">
            <div id="warning""></div>

            <script id="vehicle-warning-assigned" type="text/x-handlebars-template">
                <div class="alert alert-warning" role="alert">
                    @Resources.VehicleAlreadyAssigned
                </div>
            </script>

            <script id="vehicle-warning-not-available" type="text/x-handlebars-template">
                <div class="alert alert-warning" role="alert">
                    @Resources.VehicleNotAvailable
                </div>
            </script>
        </div>
    </div>
</div>

@section scripts { @Scripts.Render("~/bundles/createVehicle") }