@{
    ViewBag.Title = Resources.ReassignVehicle;
}

<div id="partialView">
    <div class="page-title clearfix">
        <div class="col-sm-12">
            <h1>@Resources.ApplicationName &ndash; @Resources.ReassignVehicle</h1>
        </div>
    </div>

    <div class="body-content">
        <div class="col-sm-12">
            @Html.Partial("Details")
        </div>

        <form id="form-reassign">
            <div class="col-sm-12">
                <div class="panel-heading"><i class="fa fa-forward"></i> @Resources.ReassignVehicle</div>
                <div class="panel panel-default">
                    <div class="panel-body filters-panel">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="dealer" class="col-sm-4 col-md-3 col-lg-2 text-nowrap">@Resources.GiveVehicle</label>
                                <div class="col-sm-12 col-md-9 col-lg-6">
                                    @Helpers.BootstrapDropdown("dealer", true, true)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 btn-action-group">
                <div class="pull-right hidden-xs hidden-sm">
                    <button type="button" class="btn btn-default btn-goback"><i class="glyphicon glyphicon-share-alt" style="padding-right: 3px; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);"></i> @Resources.GoBack</button>
                    <button type="button" class="btn btn-primary btn-next">@Resources.Continue</button>
                </div>
                <div class="hidden-md hidden-lg">
                    <button type="button" class="btn btn-default float-left btn-clear"><i class="glyphicon glyphicon-share-alt" style="padding-right: 3px; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);"></i> @Resources.GoBack</button>
                    <button type="button" class="btn btn-primary float-right btn-next">@Resources.Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>
                

@section scripts {
    @Scripts.Render("~/bundles/reassignVehicle")
}