@model MBP.CE.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = @Resources.ChangePassword;
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h3 style="margin-bottom: 30px">@Resources.ChangePassword</h3>

        @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form center-block text-left" }))
        {
            @Html.AntiForgeryToken()

            if (ViewData.ModelState.Values.Any(x => x.Errors.Any()))
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Html.ValidationSummary(false, "", new { @class = "" })
                </div>
            }

            <div class="row row-margin-bottom">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.OldPassword)
                </div>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "width_100p" })
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row row-margin-bottom">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "width_100p" })
                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row row-margin-bottom">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="col-md-4">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "width_100p" })
                </div>
                <div class="col-md-2"></div>
            </div>

            
            <div class="row text-center" style="margin-top: 20px;">
                <button class="highlight" style="width: 170px !important;">@Resources.ChangePassword</button>
            </div>
        }
    </div>
    <div class="col-md-2"></div>
</div>